---
layout: page
title: The O'Botics Roboticists
---

<div id="roboticists">

    <ul class="roboticists row">
      {% for person in page.roboticists['employee'] %}
        <li class="person span3">
          <a href="/roboticists/{{ person[0] }}">
            {% if person[1].image %}
              <img src="{{ person[1].image.url }}" title="{{ person[1].image.title }}" alt="{{ person[1].image.alt }}" width="150" />
            {% endif %}

            <p>
              {{ person[1].name }}
              <br />
              <small>{{ person[1].role }}</small>
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
</div>
